.Hotel-content-ul{
    margin: 0%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Hotel-Inclusioncontent-ul{
    margin: 0%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #C7FEB3;
    padding: 20px 20px 20px 40px;
    border-radius: 8px;
}
.Hotel-Exclusioncontent-ul{
    margin: 0%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FEE7E7;
    padding: 20px 20px 20px 40px;
    border-radius: 8px;
}
.Hotel-Inclusion-Exclusion{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.Hotel-Inclusion{
    width: 50%;
}
.Hotel-Exclusion{
    width: 50%;
}
.Hotel-Overview{
    line-height: 24px;
}
.select{
    background-color: #FFBC26;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
}