.button-with-icon {
    color: #ffc371;
    background-color: transparent;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.read-more-less {
    display: inline;
  }
  .read-more-button {
    background: none;
    color: #ffc371;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    margin-left: 5px; /* Adds small space between text and button */
    text-decoration: underline;
    font-family: "Manrope";
  }
  
  .read-more-button:hover {
    color: #ffc371;
    text-decoration: underline;
  } 

.button-with-icon.left .icon {
    order: -1;
}
.button-with-icon.right{
    display: flex;
    gap: 20px;
}

.button-with-icon.right .icon {
    order: 1;
}

.icon {
    font-size: 40px;
    /* background-image: linear-gradient(#FF4E50, #F9D423); */
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    border-radius: 50%;
    padding: 12px;
    color: white;
}

.button{
    font-style: 'manrope';
    width: 200px;
    height: 50px;
    padding: 10px 10px;
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .secondary-button{
    height: 30px;
    background: #FFBC26;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  .secondary-button:hover{
    border: none;
  }
@media(max-width:540px){
  .button-with-icon{
    font-size: 1rem;
  }
  .icon{
    font-size: 1.5rem;
    padding: 0.4rem;
  }
  .button-with-icon.right{
    gap: 0.5rem;
  }
}
