.remove-button {
    width: 100%; /* Ensures buttons fit in the same row with a gap */
    background-color: #fff;
    height: 50px; /* Consistent button height */
    border-radius: 4px;
    font-size: medium;
    border: 2px solid;
    color: #d2635c;
    border-color: #d2635c;
  }
  .sticky-activity-itinerary-tabs {
    top: 144px;
    z-index: 1000;
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.tab-menu-activity{
  display: flex;
  gap: 1rem;
  /* background-color: white; */
}
.tab-menu-activity button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  /* background-color: white; */
  transition: background-color 0.3sease;
}
.tab-menu-activity button.active-tab {
  background-color: white;
  border-bottom: 4px solid #ff9800;
  color: #1e1e1e;
}
.Activity-view-summary-container {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.changeactivity-view-remove{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #374047;
}