.banner1{
    display: flex;
    margin: min(2rem, 3vw) min(10rem, 10vw) min(2rem, 3vw) min(10rem, 10vw);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
  }
  .Travelnowpaylaterimage{
    background-image: url('../../Assets/Travelnowpaylater3.jpg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    color: #1e1e1e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* height: 300px; */
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    padding: 4rem;
    gap: 0.8rem;
  }
  .h12 {
    width: 100%;
    font-size: 4vw;
    margin: 0%;
    padding: 0% 10% 0% 30%;
    font-family: 'amita'; /* Use a font similar to your design */
  }
  .wings{
    width: 100%;
    font-size: 2vw;
    padding: 0px 10% 0px 30%;
    margin: 0%;
    font-weight: 500;
  }
  .offerslisting{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
    white-space: nowrap;
    font-size: 0.8rem;
  }
  .offers1{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .offers{
    width: 100%;
    padding: 0% 10% 0% 30%;
  }
  .offersicon{
    font-size: 2.5vw;
    color: #1e1e1e;
  }
  .container {
    padding: 3.125rem;
    border-radius: 0px 0px 10x 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
    /* margin: 40px 160px; */
  }
  .header{
    font-style: 'manrope';
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .form{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1rem;
  }
  .formGroup{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 4px;
  }
  .label{
    margin-bottom: 5px;
  }
  .input{
    font-style: 'manrope';
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .applynow{
    font-style: 'manrope';
    width: 25%;
    height: 50px;
    padding: 1rem;
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    justify-content: center;
  }
  @media (max-width: 540px){
    .banner1{
      margin: min(2rem, 3vw) min(5rem, 5vw) min(2rem, 3vw) min(5rem, 5vw);
    }
    .Travelnowpaylaterimage{
      padding: 1rem;
    }
    .offers{
      padding: 0%;
    }
    .offers1{
      gap: 0.4rem;
      justify-content: end;
      padding: 0% 10% 0% 10%;
    }
    .container {
      padding: 1.125rem;
    }
    .offerslisting{
      width: 16%;
      font-size: 0.4rem;
      text-wrap: wrap;
    }
    .form{
      display: flex;
      flex-direction: column;
    }
    .formGroup{
      width: 100%;
    }
    .applynow{
      width: 100%;
    }
  }